ion-content {
    --ion-background-color: url(../../../assets/corporativo.gif)
}

.d-flex-center {
    height: 90vh; //centrar a lo alto

}

.glass {
    /* From https://css.glass */
    background: rgba(179, 5, 176, 0.824);
    // border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(148, 1, 146, 0.3);
    width: 100%;
    min-height: 100vh;
}